@model WebApplication1.Areas.Movie.Models.AdminModel

@{
    ViewBag.Title = "Movie Admin";
}


<div>
    <div>
        <h3>Manage Movies</h3>
        <div>
            <ul>
                <li>@Html.ActionLink("Add movies", "AddMovies", "Admin");</li>
                <li>@*@Html.ActionLink("Delete movies", "Delete", "Admin");*@</li>
            </ul>
        </div>
    </div>
    
    
    
    
    
    
    
    
    

</div>
