@model dynamic

@{
    ViewBag.Title = "title";
}

@using (Html.BeginForm("DoRegisterForMovieAPI", "Search", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="row">
        <p>
            To utilize the Movie Picker to its fullest extent, i.e. you can maintain a catalog of your movies to search from, you will need to register. Otherwise you can @Html.ActionLink("search", "Index", new { bypassUserCheck = true}) against the total added movie collection. 
        </p>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Register" class="btn btn-default" />
            </div>
        </div>
    </div>
}
