@model WebApplication1.Models.ManageUserDetailsModel

@{
    ViewBag.Title = "Manage User Details";
    
}

<h2>Manage User Details</h2>

@using (Html.BeginForm("ManageUserDetails", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    
    <div class="row">
        <div class="col-md-12">
            @Html.LabelFor(o => o.UserInfo.AdditionalProperties.NSFW)
            @Html.CheckBoxFor(o => o.UserInfo.AdditionalProperties.NSFW)
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update User Details" class="btn btn-default" />
            </div>
        </div>

    </div>
}
