@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Web Master:</strong>   <a href="mailto:councilof42@gmail.com">councilof42@gmail.com</a>
</address>